/*  hide all sections except the home section */
#pictureofday-section,
#favourites-section {
    display: none;
}

/* Styling background */
body {
    background-image: url("../images/background.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* Styling font sizes */
h1,
h3,
p {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

p {
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #D7D7D7;
}

/* Styling title and paragraphs */
.pictureofday-container{
    padding: 0px 100px;
}

.main-title {
    text-align: center;
    padding-top: 210px;
}

.main-p {
    text-align: center;
    padding-top: 64px;
    line-height: 32px;
}

.main-title-pic {
    text-align: center;
    padding-top: 60px;
}


.main-p-pic {
    padding-top: 24px;
    line-height: 32px;
    padding-bottom: 40px;
}

.date-p-pic {
    text-align: center;
    padding-top: 24px;
    line-height: 32px;
    font-size: 16px;
}

.picofday-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* Orange Line */

.orange-line {
    height: 26px; 
    background-color: #F28D62; 
    margin: 0 55px;
    border-radius: 12px;
}

/* Styling Form */

.input-form {
    text-align: center;
}

.input-form input[type="date"] {
    display: block; 
    margin: 0 auto; 
    margin-bottom: 10px; 
    color: #F28D62;
    border: 1px solid #F28D62;
    background-color: rgba(0, 0, 0, 0.5);
}

.input-form input[type="button"] {
    display: block; 
    margin: 0 auto; 
    background-color: #FFA07A;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.input-form input[type="button"]:hover {
    background-color: #fa5b1c; 
}

/* Style the date input */
.input-form input[type="date"] {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

/* Style for hover state */
.input-form input[type="date"]:hover {
    border-color: #FFA07A; 
}

/* Style for focus state */
.input-form input[type="date"]:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

/* Adjust color of the date input icon*/
.input-form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(70%);
    color: #FFA07A;
}

/* Styling image of the day */
.picofday {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 5px;
    font-size: 15px;
}

/* Favourites button */

.square-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999; 
}

.square-button button {
    background-color: #F28D62;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
}

.square-button button:hover {
    background-color: #FFA07A;
}

.square-button button img {
    width: 100%;
    height: 100%;
}

/* Style for "Add to favourites" button */
.button-container{
    text-align: center;
    padding-bottom: 20px;
}

.add-fav {
    background-color: #FFA07A;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.add-fav:hover {
    background-color: #fa5b1c; 
}

/* Space icon */
.space-icon {
    width: 100%;
    height: 100%;
}

/* CSS for the grid layout */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 10px;
}

/* CSS for the image container */
.image {
    width: 100%;
    height: auto;
    margin: 5px;
    max-width: 100%; /* Ensures images don't exceed their container width */
}

/* CSS for the image */
.grid-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}




/* Load more button */
.load-more-button {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.load-more-button button {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: normal;
    background-color: #F28D62;
    color: #FFFFFF;
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more-button button:hover {
    background-color: #FFA07A;
}
